<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.morbidelli.morbidelli_design">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Morbidelli_Design">
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Morbidelli_Design">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyBookingActivity"
            android:exported="false"
            android:label="@string/my_bookings"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".TestRideActivity"
            android:exported="false"
            android:label="Test Ride"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".ModelSliderActivity"
            android:exported="false"
            android:label="Model Gallery"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".ModelDetailsActivity"
            android:exported="false"
            android:label="Model Details"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".ContactDetailsActivity"
            android:exported="false"
            android:label="Contact Details"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".BookingConfirmationActivity"
            android:exported="false"
            android:label="Booking Confirmation"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".DateTimeSelectionActivity"
            android:exported="false"
            android:label="Date Time Selection"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:label="My Profile"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".ProfileSettingsActivity"
            android:exported="false"
            android:label="Profile Settings"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:label="Change Password"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".BookTestRideActivity"
            android:exported="false"
            android:label="Book Test Ride"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".SearchLocationActivity"
            android:exported="false"
            android:label="Search Location"
            android:theme="@style/Theme.Morbidelli_Design"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".BookingDetailActivity"
            android:exported="false"
            android:label="Booking Details"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".ReviewActivity"
            android:exported="false"
            android:label="Leave Review"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:label="Message with Dealer"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false"
            android:label="Notifications"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".MessagesActivity"
            android:exported="false"
            android:label="Messages"
            android:theme="@style/Theme.Morbidelli_Design" />
        <activity
            android:name=".TermsOfServiceActivity"
            android:exported="false"
            android:label="Terms of Service"
            android:theme="@style/Theme.Morbidelli_Design" />
    </application>

</manifest>